* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header{
    background: #eae1d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

header h1{
    display: flex;
    flex-direction: column;
}

header h1 span{
    font-size: 8px;
    line-height: 0.9;
    letter-spacing: 0.3em;
}

.logo-bottom{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 10px;
}

.search-img{
    max-width: 1200px;
    margin: 0 auto;
}

section img{
    width: 100%;
    height: auto;
    display: block;
}

.search-main{
    background: #363636;
    padding: 50px;
    color: white;
}

.search-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.search-h2, .search-p{
    font-weight: 300;
}

.search-p{
    font-size: 12px;
}

.btn{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    gap: 30px;
}